


#navbar-main{
  /* background-color: #F1F4F3; */
  background-color: #a598ff;
}

/* 
.tooltip-forRange::before,
.tooltip-forRange::after{
  --scale:0;
  --tooltipcolor: #333;

  position: absolute;
  top: 2rem;
  left: 58%;
  transform: translateX(-50%) translateY(50%) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: top center;
}

.tooltip-forRange::before{

  content: attr(data-tooltip);
  color: white;
  padding: .5rem;
  border-radius: 1rem;
  text-align: center;
  width: max-content;
  max-width: 100%;
  background: var(--tooltipcolor);
}

.tooltip-forRange:hover::before,
.tooltip-forRange:hover::after{
  --scale:1;
} */


#btn-start{
  /* color: rgb(112, 8, 249); */
  color: white;
  border-width:1;
  border-color: rgb(153, 255, 0);
  background-color: #a598ff;
  font-family: 'Roboto Slab', serif;
}

#btn-start:hover{
  background-color: rgb(153, 255, 0);
  border-color: rgb(254, 254, 254);
  border-width:1;
  color: rgba(141, 51, 255, 1);
}

#btn-shuffle{
  /* color: rgb(112, 8, 249); */
  color: white;
  border-width:1;
  border-color: rgb(255, 255, 0);
  background-color: #a598ff;
  font-family: 'Roboto Slab', serif;

}
#btn-shuffle.svg:hover {
  color: rgba(141, 51, 255, 1);
}

#btn-shuffle:hover{
  background-color: rgb(255, 255, 0);
  color:rgba(141, 51, 255, 1);

}

.lines{
  /* border-left: solid white; */
  height: 430px;
  /* background-color: rgb(255, 255, 255); */
  /* background-color: blue; */
  /* background-color: red; */
  /* background-color: pink; */

}

#btn-stop{
  /* color:rgb(112, 8, 249); */
  color: white;
  border-width:1;
  border-color:rgb(255, 0, 0);
  background-color: #a598ff;
  font-family: 'Roboto Slab', serif;
}


#btn-stop:hover{
  background-color: rgb(255, 0, 0);

}
#btn-stop.svg:hover{
  background-color: #a598ff;

}


.range-border:hover{
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.201);
}

/* Add this class to the svg tag and it will change the color of the icon */
.navBar-Icon{
  fill: rgba(141, 51, 255, 1);
}
